@model Kutse_App.Models.Guest

@{
    ViewBag.Title = "Thanks";
}

<div>
    <p>Tänan sind, @Model.Name</p>
</div>

<div>
    @if (Model.WillAttend == true)
    {
        @:Ootame sind kallis sõber!
        <p>
            <img src="~/Images/party.jpg" />
        </p>
    }
    else
    {
        @:Väga kurb uudis. Näime hiljem!
        <p>
            <img src="~/Images/party.jpg" />
        </p>
    }
    @ViewBag.Message
</div>
